


body{
    background-color: rgb(95, 118, 159);
    display: flex;
    justify-content: center;
    background-image: url("Free-Universe-Images-3840x2400.jpg");
}

.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: rgb(124, 112, 137);
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 50px;
    opacity: 95%;

}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    font-family: "Protest Revolution", sans-serif;
}

.input{
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
    height: 30px;
    color:black;
}

.ulList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.material-symbols-outlined{

    padding-left: 5px;
    margin: 0px;
}

.action{
    display: flex;
    flex-direction: row;
    flex: 3;
    padding-right: 10px;
}

.move{
    display: flex;
    flex-direction: row;
}


li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
    width: 400px;
    size: 16px;
    color: rgb(30, 25, 33);
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0px;
    cursor: pointer;
    
}

li:hover{
    background-color: rgb(91, 79, 98);
}

.enterTodo{
    display: flex;
    font-size: 19px;
    align-items: center;
    padding-left: 10px;
    flex: 1;
}

.enterTodo.done{
    text-decoration: line-through;
}

.reset{
    background-color: beige;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.done{
    display: none;
}

